# Десериализация json в DF

In [1]:
import pandas as pd
import json
from pprint import pprint

In [2]:
with open('data/recipes.json') as f:
    recipes = json.load(f)
df = pd.DataFrame(recipes)
df.head()

      id      cuisine                                        ingredients
0  10259        greek  [romaine lettuce, black olives, grape tomatoes...
1  25693  southern_us  [plain flour, ground pepper, salt, tomatoes, g...
2  20130     filipino  [eggs, pepper, salt, mayonaise, cooking oil, g...
3  22213       indian                [water, vegetable oil, wheat, salt]
4  13162       indian  [black pepper, shallots, cornflour, cayenne pe...

In [3]:
df = pd.read_json('data/recipes.json')
df.head()

      id      cuisine                                        ingredients
0  10259        greek  [romaine lettuce, black olives, grape tomatoes...
1  25693  southern_us  [plain flour, ground pepper, salt, tomatoes, g...
2  20130     filipino  [eggs, pepper, salt, mayonaise, cooking oil, g...
3  22213       indian                [water, vegetable oil, wheat, salt]
4  13162       indian  [black pepper, shallots, cornflour, cayenne pe...

# 6.4

In [6]:
all_ingredients = set()
def unique_ingredients(ingredient:list):
    for ing in ingredient:
        all_ingredients.add(ing)
df['ingredients'].apply(unique_ingredients)
len(all_ingredients)

1318

# 6.5

In [17]:
def contains(ingredients, ing):
    if ing in ingredients:
        return 1
    else:
        return 0
def make_columns(ingredients:list):
    for ing in ingredients:
        df[ing] = df['ingredients'].apply(contains, args=(ing,))
df['ingredients'].apply(make_columns)
df['ingredients'] = df['ingredients'].apply(len)
df.head()

,id,cuisine,ingredients,romaine lettuce,black olives,grape tomatoes,garlic,pepper,purple onion,seasoning,...,string beans,egg roll wraps,steamed rice,penne,Crystal Farms Butter,Crystal Farms Shredded Gouda Cheese,mint,berries,figs,sprinkles
0,10259,greek,9,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
1,25693,southern_us,11,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,20130,filipino,12,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,22213,indian,4,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,13162,indian,20,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

# 6.5

In [19]:
ids = []
def get_ids(id_name):
    ids.append(id_name)
len(df['id'].apply(get_ids))

500

In [21]:
df.to_csv('data/recipes.csv', index=False)