In [2]:
import pandas as pd


citibike_original = pd.read_csv('data\citibike-tripdata.csv', sep=',')
citibike_df = citibike_original.copy()
citibike_df.head()

,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,252.0,MacDougal St & Washington Sq,40.732264,-73.998522,366.0,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1980,1
1,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,314.0,Cadman Plaza West & Montague St,40.693830,-73.990539,3242.0,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,1969,0
2,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,3142.0,1 Ave & E 62 St,40.761227,-73.960940,3384.0,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1975,1
3,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,308.0,St James Pl & Oliver St,40.713079,-73.998512,3690.0,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,1984,2
4,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,345.0,W 13 St & 6 Ave,40.736494,-73.997044,380.0,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1994,1

In [3]:
# 6.1
citibike_df['start station id'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 300000 entries, 0 to 299999
Series name: start station id
Non-Null Count   Dtype
--------------   -----
299831 non-null  float64
dtypes: float64(1)
memory usage: 2.3 MB

In [5]:
# 6.2
citibike_df['starttime'].info()
citibike_df['stoptime'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 300000 entries, 0 to 299999
Series name: starttime
Non-Null Count   Dtype
--------------   -----
300000 non-null  object
dtypes: object(1)
memory usage: 2.3+ MB
<class 'pandas.core.series.Series'>
RangeIndex: 300000 entries, 0 to 299999
Series name: stoptime
Non-Null Count   Dtype
--------------   -----
300000 non-null  object
dtypes: object(1)
memory usage: 2.3+ MB

In [6]:
# 6.3
citibike_df['start station id'].value_counts(normalize=True).nlargest(5)

281.0     0.006430
2006.0    0.006367
519.0     0.006247
514.0     0.006153
426.0     0.006120
Name: start station id, dtype: float64

In [7]:
# 6.4
citibike_df['bikeid'].value_counts(normalize=True).nlargest(5)

33887    0.000357
34358    0.000347
34159    0.000343
34258    0.000343
33916    0.000340
Name: bikeid, dtype: float64

In [8]:
# 6.5
citibike_df['usertype'].value_counts(normalize=True)

Subscriber    0.774007
Customer      0.225993
Name: usertype, dtype: float64

In [9]:
# 6.6
citibike_df['gender'].value_counts()

1    183582
2     74506
0     41912
Name: gender, dtype: int64

In [11]:
# 6.7
display(citibike_df['start station id'].nunique())
display(citibike_df['end station id'].nunique())

759

765

In [14]:
display(
    2022 - citibike_df['birth year'].max()
)

20

In [15]:
citibike_df['start station name'].value_counts().nsmallest(5)

Eastern Pkwy & Washington Ave     6
47 Ave & Skillman Ave             7
Railroad Ave & Kay Ave            9
Franklin Ave & Empire Blvd       11
NYCBS Depot - GOW                15
Name: start station name, dtype: int64

In [16]:
citibike_df['end station name'].value_counts().nlargest(5)

West St & Chambers St     1963
12 Ave & W 40 St          1909
Pershing Square North     1850
Central Park S & 6 Ave    1828
E 17 St & Broadway        1804
Name: end station name, dtype: int64

In [17]:
# 6.8
citibike_df.drop(['start station id', 'end station id'], axis=1, inplace=True)
citibike_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 12 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station name       299831 non-null  object
 3   start station latitude   300000 non-null  float64
 4   start station longitude  300000 non-null  float64
 5   end station name         299831 non-null  object
 6   end station latitude     300000 non-null  float64
 7   end station longitude    300000 non-null  float64
 8   bikeid                   300000 non-null  int64
 9   usertype                 300000 non-null  object
 10  birth year               300000 non-null  int64
 11  gender                   300000 non-null  int64
dtypes: float64(4), int64(3), object(5)
memory usage: 27.5+ MB

In [18]:
# 6.9
citibike_df['age'] = 2018 - citibike_df['birth year']
citibike_df.head()

,starttime,stoptime,start station name,start station latitude,start station longitude,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,age
0,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,MacDougal St & Washington Sq,40.732264,-73.998522,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1980,1,38
1,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,Cadman Plaza West & Montague St,40.693830,-73.990539,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,1969,0,49
2,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,1 Ave & E 62 St,40.761227,-73.960940,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1975,1,43
3,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,St James Pl & Oliver St,40.713079,-73.998512,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,1984,2,34
4,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,W 13 St & 6 Ave,40.736494,-73.997044,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1994,1,24

In [21]:
citibike_df.drop('birth year', axis=1, inplace=True)
display(citibike_df[citibike_df['age'] > 60].shape)
citibike_df.head()

(11837, 12)

,starttime,stoptime,start station name,start station latitude,start station longitude,end station name,end station latitude,end station longitude,bikeid,usertype,gender,age
0,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,MacDougal St & Washington Sq,40.732264,-73.998522,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1,38
1,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,Cadman Plaza West & Montague St,40.693830,-73.990539,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,0,49
2,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,1 Ave & E 62 St,40.761227,-73.960940,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1,43
3,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,St James Pl & Oliver St,40.713079,-73.998512,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,2,34
4,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,W 13 St & 6 Ave,40.736494,-73.997044,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1,24

In [22]:
# 6.10
citibike_df['starttime'].info()
citibike_df['stoptime'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 300000 entries, 0 to 299999
Series name: starttime
Non-Null Count   Dtype
--------------   -----
300000 non-null  object
dtypes: object(1)
memory usage: 2.3+ MB
<class 'pandas.core.series.Series'>
RangeIndex: 300000 entries, 0 to 299999
Series name: stoptime
Non-Null Count   Dtype
--------------   -----
300000 non-null  object
dtypes: object(1)
memory usage: 2.3+ MB

In [24]:
citibike_df['starttime'] = pd.to_datetime(citibike_df['starttime'])
citibike_df['starttime'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 300000 entries, 0 to 299999
Series name: starttime
Non-Null Count   Dtype
--------------   -----
300000 non-null  datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 2.3 MB

In [26]:
citibike_df['stoptime'] = pd.to_datetime(citibike_df['stoptime'])
citibike_df['stoptime'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 300000 entries, 0 to 299999
Series name: stoptime
Non-Null Count   Dtype
--------------   -----
300000 non-null  datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 2.3 MB

In [27]:
citibike_df['trip duration'] = citibike_df['stoptime'] - citibike_df['starttime']
citibike_df['trip duration'].head()

0   0 days 00:27:15.365000
1   0 days 00:02:12.200000
2   0 days 00:55:37.898000
3   0 days 00:07:16.837000
4   0 days 02:20:57.993000
Name: trip duration, dtype: timedelta64[ns]

In [33]:
# 6.11
weekends = (5, 6)
citibike_df['weekend'] = citibike_df['starttime'].dt.dayofweek.apply(
    lambda day: 1 if day in weekends else 0
)
citibike_df[citibike_df['weekend'] == 1].shape

(115135, 14)

In [34]:
# 6.12
def get_times_of_day(hour:int):

    time = None
    times_of_day = {
        'night': {'start': 0, 'end': 6},
        'morning': {'start': 7, 'end': 12},
        'day': {'start': 13, 'end': 18},
        'evening': {'start': 19, 'end': 23}
    }
    for daytime in times_of_day:
        if times_of_day[daytime].get('start') <= hour <= times_of_day[daytime].get('end'):
            time = daytime
    return time

In [37]:
citibike_df['time_of_day'] = citibike_df['starttime'].dt.hour.apply(get_times_of_day)
citibike_df['time_of_day'].tail()

299995    evening
299996    evening
299997    evening
299998    evening
299999    evening
Name: time_of_day, dtype: object

In [38]:
difference_night_day = citibike_df[citibike_df['time_of_day'] == 'day'].shape[0] / citibike_df[citibike_df['time_of_day'] == 'night'].shape[0]
difference_night_day

9.480411004308916

In [39]:
citibike_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 15 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  datetime64[ns]
 1   stoptime                 300000 non-null  datetime64[ns]
 2   start station name       299831 non-null  object
 3   start station latitude   300000 non-null  float64
 4   start station longitude  300000 non-null  float64
 5   end station name         299831 non-null  object
 6   end station latitude     300000 non-null  float64
 7   end station longitude    300000 non-null  float64
 8   bikeid                   300000 non-null  int64
 9   usertype                 300000 non-null  object
 10  gender                   300000 non-null  int64
 11  age                      300000 non-null  int64
 12  trip duration            300000 non-null  timedelta64[ns]
 13  weekend                  300000 non-null  int64
 14  time_of_day              300000 non-null  object
dtypes: datetime64[ns](2), float64(4), int64(4), object(4), timedelta64[ns](1)
memory usage: 34.3+ MB

In [40]:
citibike_df['time_of_day'] = citibike_df['time_of_day'].astype('category')
citibike_df['time_of_day'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 300000 entries, 0 to 299999
Series name: time_of_day
Non-Null Count   Dtype
--------------   -----
300000 non-null  category
dtypes: category(1)
memory usage: 293.3 KB

In [42]:
citibike_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 15 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  datetime64[ns]
 1   stoptime                 300000 non-null  datetime64[ns]
 2   start station name       299831 non-null  object
 3   start station latitude   300000 non-null  float64
 4   start station longitude  300000 non-null  float64
 5   end station name         299831 non-null  object
 6   end station latitude     300000 non-null  float64
 7   end station longitude    300000 non-null  float64
 8   bikeid                   300000 non-null  int64
 9   usertype                 300000 non-null  object
 10  gender                   300000 non-null  int64
 11  age                      300000 non-null  int64
 12  trip duration            300000 non-null  timedelta64[ns]
 13  weekend                  300000 non-null  int64
 14  time_of_day              300000 non-null  category
dtypes: category(1), datetime64[ns](2), float64(4), int64(4), object(3), timedelta64[ns](1)
memory usage: 32.3+ MB