# Creating a DataFrame

In [3]:
import pandas as pd
countries_df = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'square': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
    })
countries_df.index = ['UK', 'CA', 'US', 'RU', 'UA', 'BY', 'KZ']
display(countries_df)

      country  population    square
UK     Англия       56.29    133396
CA     Канада       38.05   9984670
US        США      322.28   9826630
RU     Россия      146.24  17125191
UA    Украина       45.50    603628
BY   Беларусь        9.50    207600
KZ  Казахстан       17.04   2724902

In [2]:
countries_df = pd.DataFrame(
    data = [
        ['Англия', 56.29, 133396],
        ['Канада', 38.05, 9984670],
        ['США', 322.28, 9826630],
        ['Россия', 146.24, 17125191],
        ['Украина', 45.5, 603628],
        ['Беларусь', 9.5, 207600],
        ['Казахстан', 17.04, 2724902]
        ],
    columns= ['country', 'population', 'square'],
    index = ['UK', 'CA', 'US', 'RU', 'UA', 'BY', 'KZ']
    )
display(countries_df)

      country  population    square
UK     Англия       56.29    133396
CA     Канада       38.05   9984670
US        США      322.28   9826630
RU     Россия      146.24  17125191
UA    Украина       45.50    603628
BY   Беларусь        9.50    207600
KZ  Казахстан       17.04   2724902

# Axises: 0 is y; 1 is x

In [15]:
display(countries_df.mean(axis=0, numeric_only=True)) # numeric_only - count only numeric columns/rows

population    9.070000e+01
square        5.800860e+06
dtype: float64

In [16]:
display(countries_df.mean(axis=1, numeric_only=True))

UK      66726.145
CA    4992354.025
US    4913476.140
RU    8562668.620
UA     301836.750
BY     103804.750
KZ    1362459.520
dtype: float64

# Access to columns

In [18]:
countries_df.population # if column name don't have spaces
countries_df['population'] # same as above

UK     56.29
CA     38.05
US    322.28
RU    146.24
UA     45.50
BY      9.50
KZ     17.04
Name: population, dtype: float64

# Type of columns in DataFrames is Series

In [19]:
type(countries_df.population)

pandas.core.series.Series

# Access to elements of columns

In [20]:
countries_df.loc['UK', 'square'] # row, column

133396

In [21]:
countries_df.loc['RU', ['population', 'square']] # same row, 2 columns for row

population      146.24
square        17125191
Name: RU, dtype: object

In [22]:
countries_df.loc[['UA', 'BY', 'KZ'],['population', 'square']] # for every row show list of columns
countries_df.iloc[4:8, 1:3] # same as above

    population   square
UA       45.50   603628
BY        9.50   207600
KZ       17.04  2724902