In [57]:
import pandas as pd


melb_data = pd.read_csv('data/melb_data_ps.csv', sep=',')
melb_df = melb_data.copy()
melb_df.head()

,index,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Coordinates
0,0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,...,1,202.0,126.0,1970,Yarra,-37.7996,144.9984,Northern Metropolitan,4019,"-37.7996, 144.9984"
1,1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,...,0,156.0,79.0,1900,Yarra,-37.8079,144.9934,Northern Metropolitan,4019,"-37.8079, 144.9934"
2,2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,...,0,134.0,150.0,1900,Yarra,-37.8093,144.9944,Northern Metropolitan,4019,"-37.8093, 144.9944"
3,3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,...,1,94.0,126.0,1970,Yarra,-37.7969,144.9969,Northern Metropolitan,4019,"-37.7969, 144.9969"
4,4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,...,2,120.0,142.0,2014,Yarra,-37.8072,144.9941,Northern Metropolitan,4019,"-37.8072, 144.9941"

# Deleting columns via .drop()

In [58]:
# agruments of drop():
# labels - positional index or name of column(or list of columns) to delete
# axis - 0 is rows, 1 is columns
# inplace - True: original DF changing
#           False: returns updated DF (default value)
melb_df = melb_df.drop(['index', 'Coordinates'], axis=1)
melb_df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067,...,1,1,202.0,126.0,1970,Yarra,-37.7996,144.9984,Northern Metropolitan,4019
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067,...,1,0,156.0,79.0,1900,Yarra,-37.8079,144.9934,Northern Metropolitan,4019
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067,...,2,0,134.0,150.0,1900,Yarra,-37.8093,144.9944,Northern Metropolitan,4019
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067,...,2,1,94.0,126.0,1970,Yarra,-37.7969,144.9969,Northern Metropolitan,4019
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067,...,1,2,120.0,142.0,2014,Yarra,-37.8072,144.9941,Northern Metropolitan,4019

# Math between columns

In [59]:
total_rooms = melb_df['Rooms'] + melb_df['Bedroom'] + melb_df['Bathroom']
display(total_rooms)

0         5
1         5
2         8
3         8
4         8
         ..
13575    10
13576     8
13577     8
13578     9
13579     9
Length: 13580, dtype: int64

In [60]:
melb_df['MeanRoomsSquare'] = melb_df['BuildingArea'] / total_rooms
display(melb_df['MeanRoomsSquare'])

0        25.200000
1        15.800000
2        18.750000
3        15.750000
4        17.750000
           ...
13575    12.600000
13576    16.625000
13577    15.750000
13578    17.444444
13579    12.444444
Name: MeanRoomsSquare, Length: 13580, dtype: float64

In [61]:
diff_area = melb_df['BuildingArea'] - melb_df['Landsize']
sum_area = melb_df['BuildingArea'] + melb_df['Landsize']
melb_df['AreaRatio'] = diff_area / sum_area
display(melb_df['AreaRatio'])

0       -0.231707
1       -0.327660
2        0.056338
3        0.145455
4        0.083969
           ...
13575   -0.676093
13576   -0.429185
13577   -0.551601
13578   -0.693060
13579   -0.527426
Name: AreaRatio, Length: 13580, dtype: float64

In [62]:
display(melb_df.columns)

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount', 'MeanRoomsSquare',
       'AreaRatio'],
      dtype='object')

In [63]:
# 2.4
countries_df = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'square': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
    })
countries_df.head()

   country  population    square
0   Англия       56.29    133396
1   Канада       38.05   9984670
2      США      322.28   9826630
3   Россия      146.24  17125191
4  Украина       45.50    603628

In [64]:
pop_density = countries_df['population'] / countries_df['square'] * 1e6
pop_density.head()

0    421.976671
1      3.810842
2     32.796595
3      8.539467
4     75.377550
dtype: float64

In [65]:
mean_pop = pop_density.mean()
mean_pop

84.93080566562

# Date / Datetime

In [66]:
# datetime format in Pandas is YYYY-MM-DD HH: MM: SS
display(melb_df['Date'])

0         3/12/2016
1         4/02/2016
2         4/03/2017
3         4/03/2017
4         4/06/2016
            ...
13575    26/08/2017
13576    26/08/2017
13577    26/08/2017
13578    26/08/2017
13579    26/08/2017
Name: Date, Length: 13580, dtype: object

In [67]:
# pandas.to_datetime(), argument 'dayfirst=True' indicates that in original columns first is day
melb_df['Date'] = pd.to_datetime(melb_df['Date'], dayfirst=True)
melb_df['Date']

0       2016-12-03
1       2016-02-04
2       2017-03-04
3       2017-03-04
4       2016-06-04
           ...
13575   2017-08-26
13576   2017-08-26
13577   2017-08-26
13578   2017-08-26
13579   2017-08-26
Name: Date, Length: 13580, dtype: datetime64[ns]

In [68]:
# via column.dt we can get time components only if dtype is datetime64
# extra except default: dayofweek(from 0 to 6, 0 is monday)
#                       day_name
#                       dayofyear(positional number of year)
#                       quarter
years_sold = melb_df['Date'].dt.year
display(years_sold)
display('Min year sold:', years_sold.min())
display('Max year sold:', years_sold.max())
display('Mode year sold:', years_sold.mode()[0])

0        2016
1        2016
2        2017
3        2017
4        2016
         ...
13575    2017
13576    2017
13577    2017
13578    2017
13579    2017
Name: Date, Length: 13580, dtype: int64

'Min year sold:'

2016

'Max year sold:'

2017

'Mode year sold:'

2017

In [69]:
melb_df['MonthsSale'] = melb_df['Date'].dt.month
melb_df['MonthsSale'].value_counts(normalize=True)

5     0.149411
7     0.145950
9     0.135862
6     0.134757
8     0.114138
11    0.082032
4     0.069882
3     0.049926
12    0.044698
10    0.040574
2     0.032622
1     0.000147
Name: MonthsSale, dtype: float64

In [70]:
# difference between 2 dates
delta_days = melb_df['Date'] - pd.to_datetime('2016-01-01')
display(delta_days)
# we can get days only as int64 
display(delta_days.dt.days)

0       337 days
1        34 days
2       428 days
3       428 days
4       155 days
          ...
13575   603 days
13576   603 days
13577   603 days
13578   603 days
13579   603 days
Name: Date, Length: 13580, dtype: timedelta64[ns]

0        337
1         34
2        428
3        428
4        155
        ...
13575    603
13576    603
13577    603
13578    603
13579    603
Name: Date, Length: 13580, dtype: int64

In [71]:
melb_df['AgeBuilding'] = melb_df['Date'].dt.year - melb_df['YearBuilt']
display(melb_df['AgeBuilding'])

0         46
1        116
2        117
3         47
4          2
        ...
13575     36
13576     22
13577     20
13578     97
13579     97
Name: AgeBuilding, Length: 13580, dtype: int64

In [72]:
# melb_df = melb_df.drop('YearBuilt', axis=1)

In [73]:
# 3.3
melb_df['WeekdaySale'] = melb_df['Date'].dt.dayofweek
weekend_count = melb_df['WeekdaySale'].value_counts()[5] + melb_df['WeekdaySale'].value_counts()[6]
weekend_count

12822

# Functions for elements in columns

In [74]:
display(melb_df['Address'].nunique())
display(melb_df['Address'].loc[177])
display(melb_df['Address'].loc[1812])
display(melb_df['Address'].loc[9001])

13378

'2/119 Railway St N'

'9/400 Dandenong Rd'

'172 Danks St'

In [77]:
def get_street_type(address):
    
    exclude_list = ['N', 'S', 'W', 'E']
    intersection_dict = {'Avenue':'Av', 'Boulevard':'Bvd', 'Parade':'Pde'}
    address_list = address.split(' ')
    street_type = address_list[-1]
    
    if street_type in exclude_list:
        street_type = address_list[-2]
    if street_type in intersection_dict.keys():
        street_type = intersection_dict[street_type]
    
    return street_type

In [84]:
street_types = melb_df['Address'].apply(get_street_type)
display(street_types.nunique())
popular_stypes = street_types.value_counts().nlargest(10).index
popular_stypes

53

Index(['St', 'Rd', 'Ct', 'Dr', 'Av', 'Gr', 'Pde', 'Pl', 'Cr', 'Cl'], dtype='object')

In [85]:
melb_df['StreetType'] = street_types.apply(lambda x: x if x in popular_stypes else 'other')
display(melb_df['StreetType'].nunique())

11

In [86]:
# melb_df = melb_df.drop('Address', axis=1)
melb_df['StreetType'].value_counts()

St       8012
Rd       2825
Ct        612
Dr        447
other     365
Av        361
Gr        311
Pde       226
Pl        169
Cr        152
Cl        100
Name: StreetType, dtype: int64

In [90]:
# 4.2
def get_weekend(weekday):
    
    weekdays = (5, 6)
    if weekday in weekdays:
        return 1
    else:
        return 0
    
melb_df['Weekend'] = melb_df['WeekdaySale'].apply(get_weekend)
display(
    melb_df[melb_df['Weekend'] == 1]['Price'].mean()
)

1081198.6406956792

In [100]:
# 4.3
top_sellers = melb_df['SellerG'].value_counts().nlargest(49).index
melb_df['SellerG'] = melb_df['SellerG'].apply(lambda seller: seller if seller in top_sellers else 'other')
minimum_nelson = melb_df[melb_df['SellerG'] == 'Nelson']['Price'].min()
minimum_other = melb_df[melb_df['SellerG'] == 'other']['Price'].min()
diff = minimum_nelson / minimum_other
display(diff)

1.297709923664122

In [102]:
# 4.4
# Опыт работы 5 лет
# Опыт работы 1 год 1 месяц
# Опыт работы 3 месяца
# return only months
def get_experience(arg:str):
    
    splitted_arg = arg.split()
    years = ('лет', 'год')
    months = 'мес'
    list_yy_mm = []
    
    for elem in splitted_arg:
        if elem.isnumeric():
            list_yy_mm.append(int(elem))
    if len(list_yy_mm) > 1:
        return list_yy_mm[0]*12 + list_yy_mm[1]
    if splitted_arg[-1][:3] in years:
        return list_yy_mm[0]*12
    if splitted_arg[-1][:3] in months:
        return list_yy_mm[0]